/* styles.css */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

.conversion-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.rgb-container,
.hex-container {
  flex: 1;
  padding: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#output {
  margin-top: 20px;
  color: #333;
}
